a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    color: black;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 8%;
}
.text {
    color: black;
    padding-top: 5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}
.subtext {
    color: rgb(104, 101, 101);
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.emailaddress {
    color:rgb(104, 101, 101);
    font-size: small;
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

container {
    background-color: white;
    border-bottom-color: black;
    border-top-color: black;
}

.subheader {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
    font-stretch:extra-expanded;
}

.subscribe {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    padding-bottom: 8px;
}

.cancel {
    color: rgb(34, 33, 33);
    padding-top: 5%;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    padding-left: 150px;
    margin-bottom: 10%;
}

.terms {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    padding-left: 2%;
}

.termss {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    text-align: right;
}

.idk {
    color: white;
}