<!-- Footer -->
<footer class="bg-white text-center text-black">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <div class="subscribe">Subscribe to our newsletter</div>
      <div class="subheader">Get 3 months of free music with TIDAL and receive promotions, what's new and much more!</div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="container">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-black mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="text" for="form5Example21">I wish to cancel my subscription</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Links -->
    <section class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="text-left col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="header">Can we help you?</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text">Start chat online</a>
            </li>
            <li>
              <a href="#!" class="subtext">From Mondays to Fridays from 10:00am to 6:30pm</a>
            </li>
            <li>
              <a href="#!" class="text">855 336 2909</a>
            </li>
            <li>
              <a href="#!" class="subtext">From Mondays to Fridays from 10:00 to 19:00.</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="header">Help</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text">Shop Online</a>
            </li>
            <li>
              <a href="#!" class="text">Payment</a>
            </li>
            <li>
              <a href="#!" class="text">Shipping</a>
            </li>
            <li>
              <a href="#!" class="text">Returns</a>
            </li>
            <li>
              <a href="#!" class="text">Gift Card</a>
            </li>
            <li>
              <a href="#!" class="text">Guest Purchase</a>
            </li>
            <li>
              <a href="#!" class="text">Electronic Receipt</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="header">We are Bershka</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text">About Bershka</a>
            </li>
            <li>
              <a href="#!" class="text">Join Life</a>
            </li>
            <li>
              <a href="#!" class="text">Work with us</a>
            </li>
            <li>
              <a href="#!" class="text">Press</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="header">You might be Interested in</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text">Sweaters and cardigans</a>
            </li>
            <li>
              <a href="#!" class="text">Outerwear</a>
            </li>
            <li>
              <a href="#!" class="text">Sweatshirts and hoodies</a>
            </li>
            <li>
              <a href="#!" class="text">Pants</a>
            </li>
            <li>
              <a href="#!" class="text">Vests</a>
            </li>
            <li>
              <a href="#!" class="text">Outerwear</a>
            </li>
            <li>
              <a href="#!" class="text">Sweatshirts & Hoodies</a>
            </li>
            <li>
              <a href="#!" class="text">SALE</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
 <section clas="container">
  <div class="text-center p-3" style="background-color: white;">
    © 2020 Copyright:
    <a class="text-black" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</section>
  <!-- Copyright -->
</footer>
<!-- Footer -->