<html>

<head>
    <style>
        /* div {
            width: 100px;
            height: 100vh;
            background-color: pink;
            opacity: 0.0;
            z-index: -1;
        }

        div:hover {
            width: 400px;
            height: 100vh;
            opacity: 1.0;
            z-index: -1;
            background-color: pink;
            transition: width 2s, opacity
        } */

       
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-fill bd-highlight">
             <ul>
                <li class="space">yup</li>
                <li class="space">hi</li>
                <li class="space">hi</li>
                <!-- <li class="space">space</li> -->
                <li class="categories"><a href="#" class="card-link">New</a></li>
                <li class="categories"><a href="#" class="card-link">Sale</a></li> 
                <li class="space">hi</li>
                <li class="categories"><a href="#" class="card-link">Clothes</a></li>
                <li class="categories"><a href="#" class="card-link">Shoes</a></li>
                <li class="categories"><a href="#" class="card-link">Accessories</a></li>
                <li class="categories"><a href="#" class="card-link">Collaborations®</a></li>
                <li class="space">hi</li>
                <li class="categories"><a routerLinker="best-sellers" href="best-sellers" class="card-link">Best Sellers</a></li>
                <li class="categories"><a href="#" class="card-link">Basics</a></li>
                <li class="categories"><a href="#" class="card-link">Join Life</a></li>
                <li class="space">hi</li>
                <li class="categories"><a href="#" class="card-link">#bershkastyle Gallery</a></li>
                <li class="categories"><a href="#" class="card-link">Bershka Creators</a></li>
             </ul>
            </div>
        <div class="p-2 flex-fill bd-highlight">
            <ul class="redwords">
                <li class="space">hi</li>
                <li class="space">hi</li>
                <li class="space">hi</li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Sale favorites</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Pants</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Jeans</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Outerwear</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Sweatshirts and sweaters</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Dresses and jumpsuits</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Tees and tops</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Shirts & Blouses</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Skirts and shorts</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Shoes</a></li>
                <li class="subcat"><a href="#" class="card-link" style="color: #ff0058">Accessories</a></li>
               </ul>
        </div>
        </div>
      </div>
     <!-- <div>
        <div class="sidebar"> 
            <div>
                <ul>
                    <li class="space">yup</li>
                    <li class="space">space</li>
                    <li class="categories">New</li>
                    <li class="categories">Sale</li>
                    <li class="categories">Clothes</li>
                    <li class="categories">Shoes</li>
                    <li class="categories">Accessories</li>
                    <li class="categories">Collaborations</li>
                    <li class="categories">New</li>
                    <li class="categories">Best Sellers</li>
                    <li class="categories">Basics</li>
                    <li class="categories">Join Life</li>
                </ul>
             </div>
    
                <ul class="redwords">
                 <li class="subcat">Sale favorites</li>
                 <li class="subcat">Pants</li>
                 <li class="subcat">Jeans</li>
                 <li class="subcat">Outerwear</li>
                 <li class="subcat">Sweatshirts and sweaters</li>
                 <li class="subcat">Dresses and jumpsuits</li>
                 <li class="subcat">Tees and tops</li>
                 <li class="subcat">Shirts & Blouses</li>
                 <li class="subcat">Skirts and shorts</li>
                 <li class="subcat">Shoes</li>
                 <li class="subcat">Accessories</li>
                </ul>
            </div>
    </div> -->
</body>

</html>