<bershka-topnavbar>Loading...</bershka-topnavbar>

<bershka-sidenavbar>Loading...</bershka-sidenavbar>

<div class="container-fluid d-flex">
    <bershka-verticalcard class="mx-1" img="assets/ribbedcorset.jpg">Loading...</bershka-verticalcard>
    <bershka-verticalcard class="mx-1" img="assets/DTSD.jpg">Loading...</bershka-verticalcard>
    <bershka-verticalcard class="mx-1" img="assets/SWC.jpg">Loading...</bershka-verticalcard>
    <bershka-verticalcard class="mx-1" img="assets/loafers.jpg">Loading...</bershka-verticalcard>
</div>

<bershka-bscarousel>Loading...</bershka-bscarousel>
<bershka-footer>Loading...</bershka-footer>