<bershka-topnavbar>Loading...</bershka-topnavbar>

<bershka-sidenavbar>Loading...</bershka-sidenavbar>

<div class="container-fluid d-flex">
    <div *ngFor="let product of products">
        <bershka-verticalcard class="mx-2" 
        img={{product.img}} 
        [price]=product.price 
        description={{product.description}}>
            Loading...
        </bershka-verticalcard>
    </div>
</div>

<bershka-bscarousel>Loading...</bershka-bscarousel>
<bershka-footer>Loading...</bershka-footer>