<div class="card ms-0" style="width: 28rem;">
    <span><svg class="bi position-absolute pe-2 pb-5 bottom-0 end-0" width="30" height="80">
        <use xlink:href="assets/bootstrap-icons.svg#heart" />
      </svg></span>
    <img class="card-img-top" src="{{img}}" alt="Card image cap">
    <div class="card-body ps-2 pt-2">
        <ul class="no-bullets">
            <li><a href="#" class="card-link ps-0">{{description}}</a></li>
            <li><a href="#" class="card-link price ps-0">${{(price).toFixed(2)}}</a></li>
        </ul>
    </div>
  </div>