<html>

<nav class="fixed-top">
   <div>

   </div>

    <ul>
      <li><a class="active bershtitle" routerLinker="Home-Page" href="#bershka">Bershka</a></li>
      <!-- not having button as active by default -->
      <li><button class="btn bershbutton active" type="submit">WOMEN</button></li>
      <li><button class="btn bershbutton" type="submit">MEN</button></li>

      <li><svg class="bi searchicon" width="15" height="15" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#search" />
        </svg></li>
      <li>
        <form>
          <div class="input group">
            <input type="text" class="form-control searchline" placeholder="Search" aria-label="Search"
              aria-describedby="basic-addon1">
          </div>
        </form>
      </li>
      <li>
        <svg class="bi personicon" width="30" height="30" fill="black">
          <use xlink:href="assets/bootstrap-icons.svg#person" />
        </svg>
      </li>
      <li>
        <svg class="bi heart-bold" width="25" height="25" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#heart" />
        </svg>
      </li>
      <li>
        <svg class="bi bag-bold" width="28" height="30" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#bag" />
        </svg>
      </li>
    </ul>


</nav>

</html>