<html>

<nav>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
    }

    li a:hover {
      background-color: white;
      color: black;
    }
  </style>

  <div>

    <ul>
      <li><a class="active bershtitle" href="#bershka">Bershka</a></li>
      <li><button class="btn bershbutton" type="submit">WOMEN</button></li>
      <li><button class="btn bershbutton" type="submit">MEN</button></li>

      <li ><form>
        <div class="input group">
          <input type="text" class="form-control searchline" placeholder="Search" aria-label="Search"
            aria-describedby="basic-addon1">

        </div>
      </form></li>
    </ul>

  </div>

</nav>

</html>