<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" height = 50 href="#bershka">Bershka</a></li>
  <li><a href="#women">Women</a></li>
  <li><a href="#men">Men</a></li>
</ul>

</body>
</html>
