<div class="container">
    <img src="assets/joinlifepic.jpg" alt="joinlifepic" style="width:60%;">
    <div class="centered">JOIN LIFE</div>
</div>

<div class="card" style="width: 40%;">
    <img class="card-img-top" src="assets/ribbedcorset.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Ribbed sleeveless corset top with straps</p>
        <p class="card-text">$22.90</p>
    </div>
</div>

<div class="card" style="width: 40%;">
    <img class="card-img-top" src="assets/chainjoggers.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Cotton cargo joggers with chain</p>
        <p class="card-text">$45.90</p>
    </div>
</div>